@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.social-container > :not(:last-child) {
  margin-right: 1.25rem;
}

.subs-container > :not(:last-child) {
  margin-bottom: 1rem;
}

.nav-menu > * {
  cursor: pointer;
}

.nav-menu > :not(:last-child) {
  margin-right: 1rem;
}

.nav-menu-stick {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 1rem;
  background-color: #05010ef8;
  animation: fadeInDown;
  animation-duration: 1s;
}

.portfolio-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.portfolio-container > :not(:last-child) {
  margin-bottom: 1rem;
}

.portfolio-container::-webkit-scrollbar {
  display: none;
}